*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: url('background.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #002854;
    margin-bottom: 20px;
}

/*
.logo {
    font-size: 2em;
    color: #151313;
    user-select: none;
}
*/

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none; 
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 5px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: blue;
    color: black;

}

/*.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}*/


.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1;
    color: #000; /* Set text color to black */
    flex-direction: column;
    margin-top: 150px; /* Adjust the value as needed */

}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
 
 }

.wrapper.active .form-box.login{
   transition: none;
   transform: translateX(-400px);

}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);

}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
 
 }

.wrapper.active .form-box.register{
    transition: .18s ease;
    transform: translateX(0);
 
 }

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: none;
    font-size: 2em;
    color: #103551;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #103551;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #103551;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: lem;
    color: #103551;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #103551;
    font-weight: 600;
    padding:0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #103551;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #103551;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #103551;
    margin-right: 3px;
}

.remember-forgot a {
    color: #103551;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #103551;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #031726;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #031726;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;

}

.bio-information p{
    color: black;
    font-size: 24px;
}

.file-content .language-r{
    color: black;
}




/* Add your existing styles here */

#lessonsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  p {
    color: #555;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
    list-style-type: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  

/* Styles for each iframe 
/*iframe {
    border: 2px solid #3498db; /* Set a border color */
    /*border-radius: 8px; /* Add rounded corners */
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    /*width: calc(50% - 20px); /* Set width to 50% of the container width minus margins */
    /*max-width: 400px; /* Optionally set a maximum width for the iframes */
    /*margin: 0 20px; /* Add margins between iframes */
    /*margin-top: 200px; /* Adjust top margin to push the iframes below the header */

/*}*/

/* Container for the iframes */
/*.iframe-container {
    display: flex; /* Use flexbox layout */
    /*justify-content: space-between; /* Distribute items evenly along the main axis */
    /*margin: 100px auto 20px; /* Add margin for spacing */
    /*padding: 0;
    /*margin-top: 100px; /* Adjust top margin as needed */
/*}*/

/* Adjust margin between iframes */
/*iframe + iframe {
    margin-left: 40px; /* Add margin between iframes */
/*}*/

  /* Style for the sign-out button */
.navigation .btnSignOut {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/* Style for the sign-out button on hover */
.navigation .btnSignOut:hover {
    background: white;
    color: black;
}

.logo {
    display: inline-block; /* Ensure the logo and text are displayed in-line */
    font-size: 2em;
    /*color: #151313;*/
    user-select: none;
}

.logo img {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin-right: 10px; /* Adjust margin as needed */
    /* Add any other styles you need for the logo */
}

.rectangle-box {
    width: 90%; /* Adjust width as needed */
    height: 35%; /* Adjust height as needed */
    background-color: #002854; /* Background color for the box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 760px auto; /* Center horizontally */
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    text-align: center; /* Center text horizontally */
    position: relative; /* Ensure position is relative */
    /*top: 120px; /* Adjust top position to account for header height */
    /*left: 50%; /* Center horizontally */
    /*transform: translateX(-50%); /* Center horizontally */
    z-index: 100; /* Set a higher z-index value */
    /*position: fixed; /* Fixed position */
    /*top: 50%; /* Move it down by 50% of the viewport height */
    /*left: 50%; /* Move it right by 50% of the viewport width */
    /*transform: translate(-50%, -50%);
}

.text {
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    margin-bottom: 10px; /* Add margin between the text blocks */
}

.long-text {
    width: 90%; /* Adjust width as needed */
    margin: 20px auto; /* Center horizontally */
    color: black; /* Text color */
    font-size: 18px; /* Font size */
    text-align: justify; /* Center text horizontally */
}

.rectangle-box1 {
    width: 90%; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
    background-color: #002854; /* Background color for the box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 20px auto; /* Center horizontally */
    color: white; /* Text color */
    font-size: 18px; /* Adjust font size as needed */
    text-align: center; /* Center text horizontally */
    /*position: fixed; /* Fixed position */
    /*top: 120%; /* Move it down by 50% of the viewport height */
    /*left: 50%; /* Move it right by 50% of the viewport width */
    /*transform: translate(-50%, -50%);*/
    font-size: 24px; /* Font size */
    margin-bottom: 10px; /* Add margin between the text blocks */

}

.text1 {
    width: 90%;
    margin: 20px auto; /* Center horizontally */
    color: black;
    font-size: 18px; /* Adjust font size as needed */
    text-align: justify; /* Center text horizontally */

}

.rectangle-box4 {
    width: 90%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: #002854; /* Background color for the box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 100px auto; /* Center horizontally */
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    text-align: center; /* Center text horizontally */
    position: relative; /* Ensure position is relative */
    margin-top: 800px;
    /*top: 120px; /* Adjust top position to account for header height */
    /*left: 50%; /* Center horizontally */
    /*transform: translateX(-50%); /* Center horizontally */
    z-index: 100; /* Set a higher z-index value */
    
}

.link-container {
    margin-top: 20px; /* Adjust spacing between text and link */
}

.link-container a {
    color: white; /* Link color */
    text-decoration: underline; /* Underline link */
}

.link-container a:hover {
    color: lightblue; /* Change link color on hover */
}

.rectangle-box2 {
    width: 90%; /* Adjust width as needed */
    height: 35px; /* Adjust height as needed */
    background-color: #002854; /* Background color for the box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 20px auto; /* Center horizontally */
    color: white; /* Text color */
    font-size: 24px; /* Font size */
    text-align: center; /* Center text horizontally */
    position: relative; /* Ensure position is relative */
    margin-top: 100px;
    /*top: 120px; /* Adjust top position to account for header height */
    /*left: 50%; /* Center horizontally */
    /*transform: translateX(-50%); /* Center horizontally */
    z-index: 100; /* Set a higher z-index value */
    
}

.rectangle-box3 {
    width: 90%; /* Adjust width as needed */
    height: 35px; /* Adjust height as needed */
    background-color: #002854; /* Background color for the box */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 20px auto; /* Center horizontally */
    color: white; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    text-align: center; /* Center text horizontally */
    position: relative; /* Ensure position is relative */
    margin-top: 100px;
    /*position: fixed; /* Fixed position */
    /*top: 120%; /* Move it down by 50% of the viewport height */
    /*left: 50%; /* Move it right by 50% of the viewport width */
    /*transform: translate(-50%, -50%);*/

}

.text5 {
    color: white; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    text-align: center; /* Center text horizontally */
}


.additional-text1,
.additional-text2 {
    width: 95%;
    height: auto;
    font-size: 16px;
    color: black;
    margin-top: 20px; /* Adjust spacing as needed */
    font-weight: normal; /* Set font weight to normal */
    /*text-align: center;
    font-weight: normal; /* Set font weight to normal */
    /*list-style: disc; /* Set bullet points */
    padding-left: 30px; /* Add some left padding to separate bullet points from text */
    float: right;
}

.additional-text1 ul,
.additional-text2 ul {
    width: 100%;
    list-style-type: disc; /* Set bullet points */
}

.additional-text1 li,
.additional-text2 li {
    width: 100%;
    margin-bottom: 10px; /* Add margin between list items */
    margin-left: 30px; /* Adjust the padding to move bullet points closer */

}

.additional-text1 p ,
.additional-text2 p {
    width: 100%;
    height: auto;
    padding: 0; /* Reset padding */
    margin-right: 20px;
    /*list-style: disc; /* Set bullet points */
    /*margin-left: 30px; /* Adjust the left margin for the text */
    text-transform: none; /* Remove all caps styling */

}

.additional-text1 a,
.additional-text2 a {
    width: 100%;
    color: blue; /* Change link color */
    text-decoration: underline; /* Underline links */
    margin-right: 20px; /* Add margin between links */
}

html, body {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.container,
.container1 {
    /* overflow-y: scroll; Enable vertical scrolling */
    /* height: 300px; /* Set a fixed height for the container */
    position: relative; /* Ensure the container is positioned relative */
    width: 100%; /* Ensure full width */
    /* border: 1px solid #ccc; /* Optional: Add a border for visualization */
    /* padding: 10px; /* Optional: Add padding for aesthetics */
}

.logo1 {
    position: relative; /* Set position relative for absolute positioning of the image */
    width: 100%; /* Ensure full width */
    height: 200px; /* Set a fixed height for the container */
}

.logo1 img {
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Move the top edge of the image to the middle of the container */
    left: 50%; /* Move the left edge of the image to the middle of the container */
    transform: translate(-50%, -50%); /* Move the image back by half of its own width and height */
    width: 15%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 700px;
    /*margin-top: 2000px;*/
    /*width: 50%; /* Ensure the image doesn't exceed the container width */
    /*height: 50%; /* Ensure the image doesn't exceed the container height */

}

#iframe-container {
    position: fixed;
    top: 145px; /* Adjust this value to match the height of your header */
    left: 0;
    width: 100%; /* Set the container width to 100% */
    height: calc(100% - 145px); /* Adjust for the height of the header */
    margin: 0;
    z-index: 9999;
}

#iframe-container iframe {
    width: 100%; /* Set the iframe width to 100% */
    height: 100%; /* Set the iframe height to 100% */
    border: none; /* Remove iframe border */
}

#moduleFrame {
    position: fixed;
    top: 145px; /* Adjust this value to match the height of your header */
    left: 0;
    width: 100%;
    height: 50%; /* Adjust for the height of the header */
    margin: 0;
    border: none;
    z-index: 9999;
}


